	<mat-card class="card">
		<mat-card-header class="header">
			<div class="subheading-2 title header-text">Thank you!</div>
		</mat-card-header>
		<mat-card-content class="content">
			<mat-accordion>
				<mat-expansion-panel class="card">
					<mat-expansion-panel-header>
						<mat-panel-title>
							[16.01.2023]  Thank you
						</mat-panel-title>
						<mat-panel-description>
							People who made this possible
						</mat-panel-description>
					</mat-expansion-panel-header>
					<p>
					  - @Ashlay Thank you for providing the base source for this server and client <br>
					  - @Ashime Thank you for starting a jorney of coding and figuring out the package protocol <br>
					  - @[]MG[]KILL Thank you for joining me on the adventure of making this server become real and continue with me <br>
					  - @ComehQueFazNuggets Thank you for being such a good sportsman and sharing info even tho you make your own server <br>

					</p>
				</mat-expansion-panel>
			</mat-accordion>
		</mat-card-content>
	</mat-card>
