<div style="  background-color: rgba(178,171,158,0.95)!important;
min-width:fit-content">
    <h2>Sun GCD Terms of Service</h2>
    <p>These Terms of Service govern your use of the website located at <a href="http://sungcd.com">http://sungcd.com</a> and any related services provided by Sun GCD. </p>
    <p>By accessing <a href="http://sungcd.com">http://sungcd.com</a>, you agree to abide by these Terms of Service and to comply with all applicable laws and regulations. If you do not agree with these Terms of Service, you are prohibited from using or accessing this website or using any other services provided by Sun GCD. </p>
    <p>We, Sun GCD, reserve the right to review and amend any of these Terms of Service at our sole discretion. Upon doing so, we will update this page. Any changes to these Terms of Service will take effect immediately from the date of publication. </p>
    <p>These Terms of Service were last updated on 15 February 2023. </p>
</div>