
.card {
  background-color: rgba(178,171,158,0.95) !important;
}

.material-icons {
  font-family: 'Material Icons' !important;
}
.no-scroll-bar {
  overflow: hidden; /* Hide scrollbars */
}
::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active {
  min-width: auto !important;
  padding: 0 8px !important;
}

::ng-deep .mat-focused .mat-mdc-text-field-wrapper {
  background-color: rgb(158, 152, 140) !important;
}
::ng-deep .ng-touched .mat-mdc-text-field-wrapper {
  background-color: rgb(158, 152, 140) !important;
}
::ng-deep .ng-untouched .mat-mdc-text-field-wrapper {
  background-color: rgb(158, 152, 140) !important;
}

.download-button {
  width: 100%;
  background-color: rgba(230,0,18,0.8)!important;
}

.custom-form-field{
  margin: 4xp;
}
