<header class="navbar-dark">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow"
  >
	  <div class="container">
		  <img src="assets/SUNIcon.jpg" style="width:10%" alt="image">
		  <img src="assets/gcdBannerLogo.png"[routerLink]="['/']" style="width:30%" alt="image">

		  <button class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target=".navbar-collapse"
				aria-label="Toggle navigation"
				[attr.aria-expanded]="isExpanded"
				(click)="toggle()">
			  <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
			[ngClass]="{ show: isExpanded }">
			  <ul class="navbar-nav flex-grow">
				  <li class="nav-item"
			 [routerLinkActive]="['link-active']"
			 [routerLinkActiveOptions]="{ exact: true }">
					  <a class="nav-link text-dark" [routerLink]="['/']"><div class="header-text">News</div></a>
				  </li>
				  <li class="nav-item"
			 [routerLinkActive]="['link-active']"
			 [routerLinkActiveOptions]="{ exact: true }">
					  <a class="nav-link text-dark" [routerLink]="['/event']"><div class="header-text">Events</div></a>
				  </li>
				  <li class="nav-item"
			 [routerLinkActive]="['link-active']"
			 [routerLinkActiveOptions]="{ exact: true }">
					  <a class="nav-link text-dark" [routerLink]="['/info']"><div class="header-text">ServerInfo</div></a>
				  </li>
				  <li class="nav-item"
			 [routerLinkActive]="['link-active']"
			 [routerLinkActiveOptions]="{ exact: true }">
					  <a class="nav-link text-dark" [routerLink]="['/patch']"><div class="header-text">Patches</div></a>
				  </li>
			  </ul>
		  </div>
	  </div>
  </nav>
</header>
